* {
    font-family: 'Work Sans';
    margin: 0;
}

/* header-styles */
.header {
    background-image: url('images/banner/banner3.png');
    background-size: cover;
    margin-bottom: 100px;
}

.header-banner {
    color: #ffff;
    padding: 165px 100px;
    text-align: right;
}

.banner-title {
    font-weight: 650;
    font-size: 60px;
    margin-bottom: 20px;

}

.title-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-primary {
    color: #005FAC;
    padding: 13px 20px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    font-size: 20px;
}

/* picture about-me-section styles */


.about-me-section {
    display: flex;
    gap: 40px;
    margin: 50px 90px;
    justify-content: center;
}

.about-section {
    text-align: left;
    margin-top: 250px;
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.about-title-describtion {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 12px;
}

.list-item {
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 4px;
}

.list-item i {
    padding: 5px;
    color: green;
}

/* my-plane-section-styles */

.my-plane-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 130px;
    margin-bottom: 50px;
}

.my-plane-boxes {
    display: flex;
    gap: 60px;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.plane-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.plane-title-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.my-plans-lastpart {
    background-image: url('images/gradient1.png'), url('images/watch.png');
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;

}

.my-plans-lastpart-contant {
    padding: 60px;
    margin-bottom: 100px;
}

.my-plans-lastpart-contant-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* footer-section-styles */
.footer-section {
    display: flex;
    gap: 270px;
    background-color: black;
    color: #F8F8F8;
    padding: 100px 150px;
}

.footer-title-one {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.footer-title-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.email {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
}

.phone {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-icon-image a {
    text-decoration: none;
    margin-right: 5px;
}

.footer-titel-tow {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}

.input-email {
    background-color: black;
    padding: 10px;
    color: #F8F8F8;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #ffff;
    margin-bottom: 20px;
}

.subscribe-btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #005FAC;
    border-radius: 8px;
    padding: 15px 20px;
}